<div class="main-container">
  <mat-toolbar class="custom-toolbar">

    <div class="logo-title-container">
      <img src="assets/icons/appIconDarkMode.png" alt="Logo" class="logo">
      <span class="toolbar-title">Home-Control</span>
    </div>

    <span class="spacer"></span>

    <span class="user-info">
    <div class="user-icon">
      <mat-icon>account_circle</mat-icon>
    </div>
    <span class="username-display">{{displayName}}</span>
  </span>
    <button mat-icon-button (click)="onLogout()" class="logout-button">
      <mat-icon>logout</mat-icon>
    </button>
  </mat-toolbar>

  <app-temperature></app-temperature>

</div>
