html, body {
  height: 100%;
  margin: 0;
}

.main-container {
  position: relative;
  background-color: #1A1D22;
  height: 100vh;
  overflow: hidden;
}


.custom-toolbar {
  display: flex;
  align-items: center;
  padding: 0 20px;
  box-shadow: none;
  height: 64px;
}

.logo-title-container {
  display: flex;
  align-items: center;
  padding: 0;
}

.logo {
  height: 40px;
  margin-right: 8px;
}

.toolbar-title {
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
}


.user-container {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.user-info {
  display: flex;
  align-items: center;
  background-color: #232632;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  padding: 0 8px;
  margin-right: 8px;
}

.user-icon {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.user-icon mat-icon {
  font-size: 24px;
  color: #ffffff;
}

.username-display {
  font-weight: 500;
  margin-left: 8px;
  color: #ffffff;
}

.logout-button {
  background-color: #232632;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  margin-left: 0;
}

.logout-button mat-icon {
  color: #ffffff;
}

.dashboard-grid {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 64px);
  gap: 20px;
  padding: 20px;
  box-sizing: border-box;
}

.top-card {
  height: 50%;
  width: 50%;
  display: flex;
  justify-content: center;

}

.top-card app-temperature {
  flex: 1;
  display: flex;
}

.bottom-card {
  width: 50%;
  flex: 1;
  display: flex;
  gap: 20px;
}

.bottom-card app-doors,
.bottom-card app-alarm {
  flex: 1;
  display: flex;
}




