html, body {
  height: 100%;
  margin: 0;
}

.main-container {
  position: relative;
  background-color: #1A1D22;
  height: 100vh;
  overflow: hidden;
}

.custom-toolbar {
  display: flex;
  align-items: center;
  padding: 0 16px;
  box-shadow: none;
  height: 64px;
}

.logo-title-container {
  display: flex;
  align-items: center;
  padding: 4px 12px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.logo {
  height: 40px;
  margin-right: 8px;
}

.toolbar-title {
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
}

.spacer {
  flex: 1 1 auto;
}

.user-info {
  display: flex;
  align-items: center;
  background-color: #232632;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.user-icon {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.user-icon mat-icon {
  font-size: 24px;
  color: #ffffff;
}

.username-display {
  font-weight: 500;
  margin-right: 8px;
  color: #ffffff;
}


.logout-button {
  background-color: #232632;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  margin-left: 16px;
}

.logout-button mat-icon {
  color: #ffffff;
}
