.lights-container {
  display: flex;
  flex-direction: column;
  color: #fff;
  background-color: #232632;
  border-radius: 20px;
  padding: 20px;
  box-sizing: border-box;
  flex: 1;
  width: 100%;
  height: 100%;
  position: relative;
}

.lights-container h1 {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  margin-bottom: 20px;
  text-align: start;
}

.lights-list {
  display: grid;
  grid-template-rows: repeat(auto-fill, minmax(0, 1fr));
  gap: 60px;
  flex: 1;
  height: 100%;
}

.light-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1A1D22;
  border-radius: 12px;
  padding: 25px 0;
  box-shadow: 0 2px 8px rgba(0,0,0,0.4);
  transition: background-color 0.3s ease;
  width: 100%;
}

.light-card:hover {
  background-color: #323544;
}

.light-header {
  display: flex;
  align-items: center;
  gap: 12px;
}

.light-icon {
  font-size: 40px;
  width: 40px;
  height: 40px;
  transition: color 0.3s ease;
}

.light-name {
  font-size: 16px;
  font-weight: 500;
}

mat-slide-toggle {
  transform: scale(0.8);

}

@media (max-width: 480px) {
  .lights-container {
    padding: 15px;
  }

  .lights-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;



  }

  .light-card {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 12px;
    width: 90%;
    border-radius: 10px;
  }

  .light-header {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .light-icon {
    font-size: 30px;
    width: 30px;
    height: 30px;
  }

  .light-name {
    font-size: 14px;
    font-weight: 500;
  }

  mat-slide-toggle {
    transform: scale(0.7);
  }
}
