.doors-container{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: flex-start;
  position: relative;
  color: white;
  background-color: #232632;
  border-radius: 20px;
  padding: 20px;
  overflow: hidden;
  z-index: 1;
}

.doors-container h1 {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

button[mat-raised-button] {
  width: 40%;
  margin: auto;
  color: #ffffff;
  font-weight: 800;
  background-color: #005CBB;
  border-radius: 1.2rem;
  padding: 0.75rem 1rem;
}

.open_time {
  font-size: 14px;
  font-weight: 300;
  margin-top: 4px;
  color: #ccc;
}
