.temperature-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  position: relative;
  color: white;
  background-color: #232632;
  border-radius: 20px;
  padding: 20px;
  overflow: hidden;
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  height: 100%;
  min-height: 250px;
}

.temperature-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../../assets/backgrounds/background.png") no-repeat center center;
  background-size: cover;
  z-index: 0;
}


.temperature-title {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  margin: 0;
  z-index: 1;
  position: relative;
}


.temperature-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  flex: 1;
  z-index: 1;
  gap: 20px;
}


.temperature-display {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.temperature-display h1 {
  font-family: 'Inter', sans-serif;
  font-weight: 200;
  font-size: 36px;
  color: white;
  margin: 0;
}

.temperature-display [mat-icon] {
  font-size: 40px;
  color: white;
}


.chart-wrapper {
  flex: 1;
  max-width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 10px;
  overflow: hidden;
}

.chart-wrapper ngx-charts-line-chart {
  width: 100%;
  flex: 1;
}


.chart-wrapper button[mat-raised-button].refresh-button {
  display: flex;
  align-items: center;
  gap: 5px;
  align-self: flex-end;
  background-color: #ffffff;
  color: #232632;
}

.chart-wrapper button[mat-raised-button].refresh-button mat-icon{
  color: #232632;
}

:host ::ng-deep ngx-charts-line-chart text {
  fill: white !important;
}
:host ::ng-deep ngx-charts-line-chart .line {
  stroke: #80d8ff !important;
}
