.main-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.temperature-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  color: white;
  background-color: #232632;
  border-radius: 20px;
  padding: 20px;
  overflow: hidden;
  box-sizing: border-box;
  min-height: 250px;
  max-width: 100%;
  width: 100%;
  position: relative;
}

.temperature-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../../assets/backgrounds/background.png") no-repeat center center;
  background-size: cover;
  z-index: 0;
}

.temperature-title {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  margin: 0;
  z-index: 1;
  position: relative;
}

.temperature-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  z-index: 1;
}

.temperature-display {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.temperature-display h1 {
  font-family: 'Inter', sans-serif;
  font-weight: 200;
  font-size: 36px;
  color: white;
  margin: 0;
}

.temperature-display [mat-icon] {
  font-size: 40px;
  color: white;
}


