<div class="temperature-container">
  <div class="temperature-header">
    <h1 class="temperature-title">Temperature</h1>
      <button mat-icon-button (click)="clearChart()" class="clear-button">
        <mat-icon>refresh</mat-icon>
      </button>
  </div>

  <div class="temperature-bottom">
    <div class="temperature-display">
      <div class="temperature-main">
        <mat-icon>thermostat</mat-icon>
        <h1 *ngIf="temperature !== undefined; else noData">
          {{ temperature }}°C
        </h1>
        <ng-template #noData>
          <h1>No reading</h1>
        </ng-template>
      </div>
      <span *ngIf="time" class="temperature-time">
         Updated: {{ time | date: 'yyyy-MM-dd HH:mm:ss' }}
      </span>
    </div>
    <p-chart class="my-temperature-chart" type="line" [data]="basicData" [options]="basicOptions"></p-chart>
  </div>
</div>
