.energy-container{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  color: white;
  background-color: #232632;
  border-radius: 20px;
  padding: 20px;
  overflow: hidden;
  z-index: 1;
}
.energy-container h1 {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}
.energy-display {
  display: flex;
  gap: 10px;
  align-items: center;
}
.energy-display h1 {
  font-family: 'Inter', sans-serif;
  font-weight: 300;
}
.energy-time {
  font-size: 14px;
  font-weight: 300;
  margin-top: 4px;
  color: #ccc;
}

.energy-display [mat-icon] {
  font-size: 42px;
  color: white;
}

