.sensor-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  color: white;
  background-color: #232632;
  border-radius: 20px;
  padding: 20px;
  overflow: hidden;
}

.sensor-container h1 {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  margin-bottom: 20px;
}

.gauge-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.air_quality-status {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.air-quality-status h2 {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 20px;
  margin-top: -10px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.air-quality-status mat-icon {
  vertical-align: middle;
  margin-left: 3px;
  font-size: 28px;
}



