html, body {
  height: 100%;
  margin: 0;
}

.main-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1A1D22;
  height: 100vh;
  overflow: hidden;
}

.register-form {
  background-color: #232632;
  display: flex;
  z-index: 2;
  flex-direction: column;
  padding: 2rem 3rem 3rem 3rem;
  border-radius: 1rem;
  box-shadow: 0 4px 12px rgba(0,0,0,0.25);
  gap: 1.5rem;
  width: 300px;
  max-width: 90%;
}

.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  z-index: 11;
}

.logo .logo-icon {
  width: 50px;
  height: 50px;
  object-fit: contain;
}

.logo h1 {
  font-size: 2rem;
  font-weight: 800;
  margin: 0.5rem 0 0 0;
  color: #ffffff;
}

.logo h2 {
  font-size: 1.5rem;
  font-weight: 800;
  margin: 0.5rem 0 0 0;
  color: #ffffff;
}

.input-group {
  position: relative;
  display: flex;
  align-items: center;
}

.input-group mat-icon {
  position: absolute;
  left: 12px;
  color: #ffffff;
  font-size: 24px;
  pointer-events: none;
}

.input-group input {
  width: 100%;
  padding: 0.75rem 1rem 0.75rem 3rem;
  border:none;
  border-radius: 0.5rem;
  font-size: 1rem;
}

.username-input{
  background-color: #1A1D22;
  color:#ffffff;
  outline: none;
}

.password-input{
  background-color: #1A1D22;
  color:#ffffff;
  outline: none;
}

.email-input{
  background-color: #1A1D22;
  color:#ffffff;
  outline: none;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #000000 inset !important;
  -webkit-text-fill-color: #ffffff !important;
  transition: background-color 5000s ease-in-out 0s !important;
}

button[mat-raised-button] {
  width: 40%;
  margin: auto;
  color: #ffffff;
  font-weight: 800;
  background-color: #1a1d22;
  border-radius: 1.2rem;
  padding: 0.75rem 1rem;
}

.login-section {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
}

.login-section p {
  color: #ffffff;
  font-size: 0.95rem;
  margin: 0;
}

.login-section button {
  width: 60%;
  color: #ffffff;
  font-weight: 800;
  background-color: #1a1d22;
  border-radius: 15px;
  border:none;
  padding: 0.75rem 1rem;
}

@media (max-width: 400px) {
  .register-form {
    width: 80%;
    padding: 1.5rem 2rem 2rem 2rem; /
  }

  button[mat-raised-button],
  .login-section button {
    width: 80%;
  }

  .logo h1 {
    font-size: 1.5rem;
  }

  .input-group input {
    padding: 0.5rem 0.75rem 0.5rem 2.5rem;
    font-size: 0.9rem;
  }
}
